USE [master]
GO
/****** Object:  Database [Simulator]    Script Date: 13/03/2026 10:27:45 ******/
CREATE DATABASE [Simulator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Simulator', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Simulator.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Simulator_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Simulator_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Simulator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Simulator]
GO
/****** Object:  Table [dbo].[Adres]    Script Date: 13/03/2026 10:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adres](
	[Adres_Id] [int] IDENTITY(1,1) NOT NULL,
	[Straatnaam] [nvarchar](200) NOT NULL,
	[Gemeente_Id] [int] NOT NULL,
 CONSTRAINT [PK_Adres] PRIMARY KEY CLUSTERED 
(
	[Adres_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gemeente]    Script Date: 13/03/2026 10:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gemeente](
	[Gemeente_Id] [int] IDENTITY(1,1) NOT NULL,
	[Gemeentenaam] [nvarchar](200) NOT NULL,
	[Postcode] [int] NOT NULL,
 CONSTRAINT [PK_Gemeente] PRIMARY KEY CLUSTERED 
(
	[Gemeente_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[klant]    Script Date: 13/03/2026 10:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[klant](
	[Klant_Id] [int] IDENTITY(1,1) NOT NULL,
	[Voornaam] [nvarchar](50) NOT NULL,
	[Adres_Id] [int] NOT NULL,
 CONSTRAINT [PK_Klant] PRIMARY KEY CLUSTERED 
(
	[Klant_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adres]  WITH CHECK ADD  CONSTRAINT [FK_Gemeente] FOREIGN KEY([Gemeente_Id])
REFERENCES [dbo].[Gemeente] ([Gemeente_Id])
GO
ALTER TABLE [dbo].[Adres] CHECK CONSTRAINT [FK_Gemeente]
GO
ALTER TABLE [dbo].[klant]  WITH CHECK ADD  CONSTRAINT [FK_Adres] FOREIGN KEY([Adres_Id])
REFERENCES [dbo].[Adres] ([Adres_Id])
GO
ALTER TABLE [dbo].[klant] CHECK CONSTRAINT [FK_Adres]
GO
USE [master]
GO
